*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#container{
    width: 100%;
    max-width: 1120px;
    margin: 88px auto 48px auto;
}

img{
    border-radius: 28px;
    display: block;
}

.headline{
    font-size: 16px;
    color: #E1624F;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
    margin: 40px 0;
}

.good-for{
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

.blue-color{
    color: #0C51A7;
}

.purple-color{
    color: #591B98;
}

.red-color{
    color: #E5245E;
}

.orange-color{
    color: #E95E10;
}

h1{
    font-size: 36px;
    color: #1B1B1B;
    margin-bottom: 40px;
}

#about-busan figure img{
    height: 660px;
}

#about-busan figcaption{
    margin-top: 24px;
    color: #333333;
}

#busan-destinations{
    margin-bottom: 65px;
}

#busan-destinations img{
    width: 100%; 
    max-height: 350px;
    object-fit: cover;

}

#busan-destinations ol{
    margin-top: 64px;
}


#busan-destinations ol > li + li{
    margin-top: 48px;
}


h2{
    font-size: 32px;
    margin-bottom: 8px;
    color: #1B1B1B;
}

h3{
    font-size: 28px;
    margin: 20px 0 4px 0;
    color: #1B1B1B;
}

p{
    color: #333333;
    line-height: 150%;
}

ol > li::marker{
    font-size: 28px;
}

ol ul{
    list-style: inside;
}

ol ul li{
    font-weight: bold;
}

ol ul li::marker{
    color: #333333;
    font-size: 15px;
    display: flex;
}

#busan-destinations .description-city{
    text-align: center;
}

#footer{
    text-align: center;
}

#footer img{
    display: inline-block;
    vertical-align: middle;
}